@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic');
html { height: 100%; }

body {
  font-family:  "ubuntu", -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, sans-serif;
  background-color: rgb(236, 210, 176);
  margin: 0;
}
a {
  text-decoration: none;

}
.beta{
  height: 100%;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: burlywood;
  h1, h2, h3{
    margin: 0;
    margin-left: 10px;
    color: brown;
  }
}